* {
    margin: 0;
    padding: 0;
    border: 0;
} 

#section03 {
    width: 100;
}

.introbox1 {
    display: flex;
}
.introbox2 {
    display: flex;
}

.img_wrap {
    position: relative;
    height: 350px;
    width: 350px;
    margin-left: 20px;
    margin-top:50px;
}

.box-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(41, 41, 41, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img_txt {
    font-size: 17px;
    position: relative;
    top: 90px;
}

.img_txt span {
    font-size: 25px;
    position: relative;
    top: 70px;
    height: 60px;
}

.img_wrap:hover .box-txt {
    visibility: visible;
    opacity: 1.0;
    /* text-align: center; */
}

.img_txt span:before {
    content: "";
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: 60px;
    transition: all 0.3s;
}

.img_txt span:after {
    content: "";
    width: 20px;
    height: 1px;
    background: #999999;
    position: absolute;
    left: calc(50% - 10px);
    top: -20px;
    transition: all 0.3s;
}

