
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
                              

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
		   

@font-face {
	font-family: 'S-CoreDream-2ExtraLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            
		   
.menu_box{
	width: 100%;
	height: 90px;
	position:fixed;
	transition:all 0.5s ease-in-out; 
	-webkit-transition:all 0.5s ease-in-out;
	z-index: 99;
}

.menu_box ul {
	float: right;
}
.menu_box li{
	float: left;
	margin-top: 38px;
	margin-right: 60px;
}
.menu_box li a{
	text-decoration:none; 
	color:#222; 
	font-size:16px;
	font-family: 'S-CoreDream-2ExtraLight';
}
/* menu */

.logo {
	float: left;
}
.logo>img {	
	margin-left: 50px;
	margin-top: 15px;
	width: 120px;
}

.menu-btn{
    font-size: 30px;
    font-weight: bold;
	margin-left: 10px;
	display: none;
}

.fixed{
	background:rgba(255, 255, 255, 0.5); 
	transition:all 0.5s ease-in-out; 
	-webkit-transition:all 0.5s ease-in-out;
}
/* navi css */

#section01{
	width:100%; 
	height:auto; 
	background: url(../images/main_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

.sub-txt {
	font-size:25px;
	color: #3a2916;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'S-CoreDream-4Regular';
}

.main-txt {
	font-size:70px;
	color: #3a2916;
	height: 600px;
	position: relative;
	bottom: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'MapoFlowerIsland';
}
/* section01 end */

#section02{
	height: auto;
	padding-bottom: 10%;
}

.col-warp{
	width:1350px;
	margin:0 auto;
	display:flex;
}
.sec02-img{
	width:50%;
	position:relative;
	padding-top: 18%;
}
.sec02-txt{
	width:50%;
	padding-top: 20%;
	padding-left: 10%;
}

.info1{
	width:80%;
	position:absolute;
}
.info2{
	width:80%;
	position:absolute;
	margin-left: 20%;
	margin-top: 30%;
}
.intro-main{
	font-size: 30px;
	font-weight: bold;
	font-family: 'MapoFlowerIsland';
	color: #251100;
}
.intro-sub{
	margin-top: 18%;
	font-size: 20px;
	margin-bottom: 20%;
	line-height: 30px;
	font-family: 'S-CoreDream-2ExtraLight';
}

/* section02 end */

#section03 {
	width: 100%;
	padding-bottom: 90px;
	background:#f0f0f0;
}

.container {
    background: url('../images/container.jpg');
    position: relative;
    padding: 60px 0 0;
    background-size: cover;
    background-position: center;
    height: 100px;
    background-attachment: fixed;
}

.sec03-txt {
    color: #fff;
    text-align: center;
}

.sec03-txt h1 {
    font-size: 46px;
    color: #fff;
    font-weight: normal;
    position: relative;
	bottom: 10px;
	font-family: 'S-CoreDream-4Regular';
}

.sec03-txt p {
    font-size: 18px;
    height: 20px;
    margin-top: 5px;
	color: #fff;
	font-family: 'S-CoreDream-2ExtraLight';
}

.introbox1 {
    display: flex;
    margin-top: 40px; 
    padding-left: 330px;
}
.introbox2 {
    display: flex;
    padding-left: 330px;
}

.img_wrap {
    position: relative;
    height: 350px;
    width: 350px;
    margin-left: 50px;
    margin-top:50px;
}

.box-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(27, 27, 27, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
	text-align: center;
	font-family: 'S-CoreDream-2ExtraLight';

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img_txt {
    font-size: 17px;
    position: relative;
    top: 90px;
	line-height:25px;
	font-family: 'S-CoreDream-2ExtraLight';
}

.img_txt span {
    font-size: 25px;
    position: relative;
    top: 70px;
	height: 60px;
	font-family: 'S-CoreDream-4Regular';
}

.img_wrap:hover .box-txt {
    visibility: visible;
    opacity: 1.0;
    /* text-align: center; */
}

.img_txt span:before {
    content: "";
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: 60px;
    transition: all 0.3s;
}

.img_txt span:after {
    content: "";
    width: 20px;
    height: 1px;
    background: #999999;
    position: absolute;
    left: calc(50% - 10px);
    top: -20px;
    transition: all 0.3s;
}
/* section 03 end */

#section04{
	width:100%; 
	padding-bottom: 50px;
}
#section04 h1 {
	width: 8%;
	color: #361818;
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	font-family: 'MapoFlowerIsland';
	border-bottom: 2px solid #666;
	padding-bottom: 10px;
	padding-left: 40px;
	position: relative;
	top: 200px;
	left: 120px;
}


.swiper-container {
	width: 75%;
	height: 500px;
	margin-right: 40px;
}

.swiper-slide img {
	width: 100%;
}  

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-button-next {
	color: #548b72;
}
.swiper-button-prev {
	color: #548b72;
}
/* web gallery */


/* section 04 end */

#section05{
	width:100%; 
	background:#f0f0f0;
}

#section05 h2 {
	padding-top:30px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #111;
	font-family: 'MapoFlowerIsland';
	letter-spacing: 2px;
}

#map {
	width:61%;
	height: 500px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
	border: 1px solid rgb(180, 180, 180);
}
.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

.tab {
	width: 61%;
	overflow: hidden;
	border: 1px solid #222;
	background-color: #f1f1f1;
	margin: 0 auto;
  }
  
.tab-menu {
	padding: 22px 0 22px 0;
}
  /* Style the buttons inside the tab */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
	background-color:#0d7445;
	color: #fff;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color:#08462a;
	color: #fff;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #222;
	border-top: none;
	margin: 0 auto;
	width: 59.8%;
  }
.tabcontent h3 {
	font-family: 'S-CoreDream-4Regular';
	font-size: 20px;
	padding: 10px 0 10px 0;
}
.tabcontent2 {
	font-family: 'S-CoreDream-2ExtraLight';
	font-size: 16px;
	padding: 3px 0 3px 0;
}
.tabcontent P {
	font-family: 'S-CoreDream-2ExtraLight';
	font-size: 16px;
}

.tablinks {
	width: 50%;
}

/* section 05 end */

#footer {
	width: 100%;
}
.conts-area {
	width: 100%;
	background-color: #ccc;
	padding-top: 20px;
}

.company-info {
	padding-bottom: 20px;
	margin-left: 720px;
}
.copyright {
	font-family: 'S-CoreDream-2ExtraLight';
    font-size: 16px;
	color: #222;
	padding-bottom: 20px;
	margin-left: 720px;
}

.place {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 10px;
	font-family: 'S-CoreDream-4Regular';
}
.company-info li {
	font-family: 'S-CoreDream-2ExtraLight';
	font-size: 16px;
	color: #444;
}
/* footer end */

/* -------------------------------- 반응형 ----------------------------- */

@media (max-width:1540px) {
	#section01 {
		width: 100%;
	}
	/* section01 end */

	#section02 {
		width: 100%;
	}
	/* section02 end */

	#section03 {
		width: 100%;
	}

	.introbox1 {
		padding-left: 150px;
	}
	.introbox2 {
		padding-left: 150px;
	}
	/* section03 end */

	#section04 {
		width: 100%;
	}

	#section04 h1 {
		left: 90px;
	}
	/* section04 end */

	#section05 {
		width: 100%;
	}
	.tabcontent {
		width: 59.4%;
	}
	/* section05 end */

	#footer {
		width: 100%;
	}
	.company-info {
		margin-left: 530px;
	}
	.copyright {
		margin-left: 530px;
	}
	/* footer end */
}

@media (max-width:1365px) {
	.col-warp{
		width:100%;
	}
	.sec02-img{
		padding-left: 5%;
	}
	/* section02 end */

	.introbox1 {
		padding-left: 50px;
	}
	.introbox2 {
		padding-left: 50px;
	}
	/* section03 end */

	#section04 h1 {
		width: 10%;
		padding-left: 20px;
		left: 70px;
	}
	/* section04 end */

	.tabcontent {
		width: 59.2%;
	}
	/* section05 end */

	.company-info {
		margin-left: 450px;
	}
	.copyright {
		margin-left: 450px;
	}
	/* footer end */
}

@media (max-width:1266px) {
	.introbox1 {
		padding-left: 10px;
	}
	.introbox2 {
		padding-left: 10px;
	}
	/* section03 end */
}

@media (max-width: 1225px) {
	#section03 {
		width: 100%;
	}
	.introbox1 {
		padding-left: 0;
		width: 300px;
	}
	.introbox2 {
		padding-left: 0;
		width: 300px;
	}
	/* section03 end */

	#section04 h1 {
		left: 50px;
	}
	/* section04 end */
}

@media (max-width: 1170px) {
	.col-warp{
		width:100%;
		flex-direction: column;
	}
	.sec02-img{
		width:90%;
		margin: 0 auto;
		padding-top: 5%;
		padding-left: 0;
	}
	.sec02-txt{
		width:100%;
		padding-top: 75%;
		padding-left: 0;
		text-align: center;
	}
	
	.intro-main{
		font-size: 30px;
		font-weight: bold;
		font-family: 'MapoFlowerIsland';
		color: #251100;
	}
	.intro-sub{
		margin-top: 5%;
		font-size: 20px;
		margin-bottom: 0;
		line-height: 30px;
		font-family: 'S-CoreDream-2ExtraLight';
	}
	/* section02 end */

	.introbox1 {
		flex-direction: column;
		margin: 0 auto;
	}
	.introbox2 {
		flex-direction: column;
		margin: 0 auto;
	}
	/* section03 end */
	#section04 h1 {
		padding-bottom: 0;
		position: relative;
		top:20px;	
		left: 44%;
	}
	
	.swiper-container {
		width: 95%;
		margin: 0 auto;
		height: auto;
		padding-top: 4%;
	}

	.swiper-slide img {
		width: 100%;
		height: auto;
	}
	/* section04 end */

	.tabcontent {
		width: 58.9%;
	}
	/* section05 end */

	.company-info {
		margin-left: 330px;
	}
	.copyright {
		margin-left: 330px;
	}
	/* footer end */
}

@media (max-width: 767px) {
	#section03 {
		padding: 0 0 5% 0;
	}
	.img_wrap {
		width: 500px;
		height: auto;
	}
	.img__img {
		width: 500px;
	}
	.introbox1 {
		margin: 0;
		padding-left: 11%;
	}
	.introbox2 {
		margin: 0;
		padding-left: 11%;
	}
	.img_txt {
		top: 160px;
		font-size: 22px;
		line-height: 30px;
	}
	.img_txt>span {
		font-size: 30px;
	}
	/* section03 end */

	#section04 h1 {
		width: 18%;
		top:20px;	
		left: 42%;
		border-bottom: none;
		font-size: 32px;
	}
	.swiper-container {
		padding-top: 5%;
	}
	.swiper-slide img {
		width: 110%;
	}
	/* section04 end */
	#map {
		width: 83%;
		padding-top: 4%;
	}
	.tab {
		width: 83%;
	}
	.tabcontent {
		width: 79.7%;
	}
	/* section05 end */

	.company-info {
		margin-left: 120px;
	}
	.copyright {
		margin-left: 120px;
	}
	/* footer end */
}

@media (max-width: 500px) {
	#section01 {
		width: 100%;
		height: 800px;
		background: url(../images/main_1.jpg);
		background-position: center top;
		background-repeat: no-repeat;
	}

	.logo {
		display: none;
	}
	.navi li {
		margin-top: 20px;
		margin-right: 40px;
	}
	.menu_box{
        position: fixed;
        background: rgba(255,255,255,0.5);
		width: 100%;
		height: 60px;
    }
	/* section01 end */

	#section02 {
		width: 100%;
	}
	.sec02-txt {
		width: 85%;
		margin: 0 auto;
	}
	.intro-main {
		font-size: 25px;
	}
	.intro-sub {
		font-size: 19px;
	}
	/* section02 end */

	#section03 {
		padding: 0 0 5% 0;
	}
	.container {
		background: url(../images/container.jpg);
		background-position: center top;
		background-repeat: no-repeat;
	}
	.sec03-txt h1 {
		font-size: 30px;
	}
	.img_wrap {
		width: 400px;
		height: auto;
	}
	.img__img {
		width: 400px;
	}
	.introbox1 {
		margin: 0;
		padding-left: 0;
	}
	.introbox2 {
		margin: 0;
		padding-left: 0;
	}
	.img_txt {
		top: 100px;
		font-size: 18px;
		line-height: 30px;
	}
	.img_txt>span {
		font-size: 26px;
	}
	/* section03 end */

	#section04 h1 {
		width: 25%;
		top:20px;
		left: 41%;
		border-bottom: none;
		font-size: 26px;
		padding-bottom: 3%;
	}

	.swiper-slide img {
		width: 100%;
	}
	/* section04 end */
	#section05 h2 {
		font-size: 26px;
		padding-left: 5%;
	}
	#map {
		width: 95%;
		margin-left: 4%;
	}

	.tab {
		width: 95%;
		margin-left:4%;
	}
	.tabcontent {
		width: 90%;
		margin-left: 4%;
	}
	.tabcontent p {
		font-size: 17px;
	}
	/* section05 end */

	.company-info {
		margin-left: 10%;
	}

	.copyright {
		margin-left: 10%;
	}
	/* footer end */
}

@media (min-width: 415px) {
    .menu-btn {
        display: none;
    }
}

@media (max-width: 414px) {
    #section1 {
        width: 100%;
        height: auto;
        background: url(../images/main_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
	}
	.navi {
		margin-right: 6%;
	}
    .navi>li {
		display: none;
		margin-right: 25px;
		margin-top: 8%;
	}
	.menu-btn {
		display: block;
		position: fixed;
		margin-top: 5.3%;
		margin-left: 90%;
		color: rgb(129, 129, 129);
	}
	.menu_box{
        position: fixed;
        background: rgba(255,255,255,0.5);
		width: 100%;
		height: 70px;
    }
	.sub-txt {
		width: 100%;
		font-size:21px;
		position: relative;
		bottom:10px;
	}
	.main-txt {
		position: relative;
		bottom:400px;
		font-size: 50px;
	}
	/* section01 end */

    #section2 {
        width: 100%;
	}
	.intro-main {
		width: 100%;
		font-size: 20px;
		line-height: 24px;
	}
	.intro-sub {
		width: 100%;
		font-size: 16px;
	}
	/* section02 end */

	#section03 {
		padding: 0 0 5% 0;
	}
	.sec03-txt h1 {
		font-size: 23px;
	}
	.img_wrap {
		width: 350px;
		height: auto;
	}
	.img__img {
		width: 350px;
	}
	.introbox1 {
		margin-left: -5%;
	}
	.introbox2 {
		margin-left: -5%;
	}
	.img_txt {
		top: 70px;
		font-size: 16px;
		line-height: 30px;
	}
	.img_txt>span {
		font-size: 24px;
	}
	/* section03 end */

	#section04 h1 {
		width: 25%;
		top:20px;
		left: 39%;
		/* border-bottom: none; */
		font-size: 24px;
		padding-bottom: 4%;
	}
	.swiper-slide img {
		width: 100%;
	}
	/* section04 end */
	#section05 h2 {
		font-size: 24px;
		padding-left: 5%;
	}
	#map {
		width: 95%;
		margin-left: 2.5%;
	}

	.tab {
		width: 95%;
		margin-left:2.5%;
	}
	.tablinks {
		padding: 0;
	}
	.tabcontent {
		width: 89.2%;
		margin-left: 2.5%;
	}
	.tabcontent h3 {
		font-size: 18px;
	}
	.tabcontent p {
		font-size: 16px;
	}
	/* section05 end */

	.company-info {
		margin-left: 10px;
	}
	.company-info li {
		padding-top: 2%;
		font-size: 14px;
	}
	.copyright {
		margin-left: 10px;
		font-size: 12px;
	}
	/* footer end */
}